/*************************
/* BASE STYLES
/*************************/

body {
    margin-top: 3rem;
    margin-bottom: 9rem;
}

a {
    text-decoration: none;
    color: white;
}

h2  {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 7%;
    margin-bottom: 4rem;
}

h2:nth-child(4), .underline:nth-child(3){
    padding-left: 7%;
}

h3, h4, p{
    margin-left:2.5%;
}

section {
    margin-left:18%;
}

button {
    display: inline;
    margin-left: 90%;
}

/*************************
/* ROOT FONT STYLE
/*************************/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-color: rgb(248, 248, 248);
    color: white;
    margin-right: 16em;
}

/*************************
/* BACKGROUNDS
/*************************/

body {
    background: #17191d;
}

.background-black {
    background-color: black;
    border-radius: 1px;
    color: white;
    padding: 0.3% 0.6%;
}

/*************************
/* TEXT DECORATIONS
/*************************/

.underline {
    display: block;
    margin-top: 5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
}

.underline:nth-child(3) {
    margin-left: 7%;
}

.annotation {
    margin-bottom: 2rem;
    font-size: 2rem;
}

/*************************
/* SWITCH BUTTON
/*************************/

/* COLOR MODE */

.colorful-switch {
    position: fixed;
    right: 0;
    top: 23.8%;
    width: 14.5%;
    height: 3.5%;
    margin-left: -140px;
    margin-top: -60px;
    opacity: 1;
}
.colorful-switch__label {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    cursor:default;
}
.colorful-switch__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 840px;
    height: 100%;
    background: linear-gradient(90deg, #ffd900 0, #efa029 280px, #10E7BD 560px, #14DCD6 100%);
    transition: transform 0.5s;
    transform: translate3d(-560px, 0, 0);
}
.colorful-switch__checkbox:checked ~ .colorful-switch__label .colorful-switch__bg {
    transform: translate3d(0, 0, 0);
}
.colorful-switch__on__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
    transform-origin: 100% 50%;
    transform: rotate(45deg) scale(0) translateZ(0);
}

/* CONSOLE MODE */

.colorful-switch-2 {
    position: fixed;
    right: 0;
    top: 37.6%;
    width: 14.5%;
    height: 3.5%;
    margin-left: -140px;
    margin-top: -60px;
    opacity: 1;
}
.colorful-switch__label-2 {
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
    cursor:default;
}
.colorful-switch__bg-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 840px;
    height: 100%;
    background: linear-gradient(90deg, #ffd900 0, #efa029 280px, #10E7BD 560px, #14DCD6 100%);
    transition: transform 0.5s;
    transform: translate3d(-560px, 0, 0);
}
.colorful-switch__checkbox-2:checked ~ .colorful-switch__label-2 .colorful-switch__bg-2 {
    transform: translate3d(0, 0, 0);
}
.colorful-switch__on__inner-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.25s 0s cubic-bezier(0.52, -0.96, 0.51, 1.28);
    transform-origin: 100% 50%;
    transform: rotate(45deg) scale(0) translateZ(0);
}

/*************************
/* MEDIA QUERIES
/*************************/

@media screen and (max-height: 440px){
    .colorful-switch, .colorful-switch-2 {
        height: 5.5%;
    }
}